 <div id="search-block">
     <div class="search-icons">
       <a class="open-form btn-search"></a>
       <a class="close-form btn-search"></a>
     </div>
     <div class="search-block-form">
       {{ content }}
     </div>
   </div>